@charset "UTF-8";
@import url(./common.css);

#swapFrom .swap_input_box { background: #6D9FBF; }
#swapTo .swap_input_box { margin-top: -1.5rem; background: var(--blue-04); }
#swapFrom .swap_input_box input,
#swapTo .swap_input_box input { background: transparent !important; color: var(--white); }
#swapFrom .swap_input_box input::placeholder,
#swapTo .swap_input_box input::placeholder { opacity: .5; color: var(--white); }

#swapIcon { position: relative; }
#swapRate { padding: 0.75rem 1rem; background: var(--bg-gradient-white-03); box-shadow: var(--bg-box-shadow); border-radius: 0.5rem; }

#swapInfoTextBox { margin: 1rem 0.25rem; }
#swapInfoTextBox .swap_info_list {  }
#swapInfoTextBox .swap_info_list .li { margin-bottom: 0.5rem; color: var(--black); font-size: 0.875rem; }

#optionCustom { position: relative; width: 100%; }
#optionCustom .input_min { padding-right: 30px; }
#optionCustom .txt_min { position: absolute; top: 0.5rem; right: 0.875rem; }

#infoBreakdown { padding: 1.25rem; border-radius: 1rem; }
#poolButtonRow { width: 33%; }


/* Laptop ----------------------------------------------------- */
@media (min-width: 768px) {

}

/* Tablet ----------------------------------------------------- */
@media(max-width: 768px) {
	#swapFrom .swap_input_box { padding: 0rem;}
	#swapInfoList .li { font-size: 0.75rem; }

	#poolButtonRow { width: 100%; }
}

/* Mobile ----------------------------------------------------- */
@media(max-width: 480px) {
	
}















