@charset "UTF-8";
@import url(./common.css);

#swapFrom .swap_input_box { background: #6D9FBF; }
#swapTo .swap_input_box { margin-top: -1.5rem; background: var(--blue-04); }
#swapFrom .swap_input_box input,
#swapTo .swap_input_box input { background: transparent !important; color: var(--white); }
#swapFrom .swap_input_box input::placeholder,
#swapTo .swap_input_box input::placeholder { opacity: .5; color: var(--white); }

/* Laptop ----------------------------------------------------- */
@media (min-width: 768px) {

}

/* Tablet ----------------------------------------------------- */
@media(max-width: 768px) {
	
}

/* Mobile ----------------------------------------------------- */
@media(max-width: 480px) {
	
}















