@charset "UTF-8";
@import url(./common.css);

#swapFrom .swap_input_box { background: #6D9FBF; }
#swapTo .swap_input_box { margin-top: -1.5rem; background: var(--blue-04); }
#swapFrom .swap_input_box input,
#swapTo .swap_input_box input { background: transparent !important; color: var(--white); }
#swapFrom .swap_input_box input::placeholder,
#swapTo .swap_input_box input::placeholder { opacity: .5; color: var(--white); }

#swapRate { padding: 1rem; background: var(--bg-gradient-white-03); box-shadow: var(--bg-box-shadow); border-radius: 0.5rem; }

#swapInfoTextBox { margin: 1rem; }
#swapInfoTextBox .swap_info_list {  }
#swapInfoTextBox .swap_info_list .li { margin-bottom: 0.5rem; color: var(--black); font-size: 0.875rem; }


/* Laptop ----------------------------------------------------- */
@media (min-width: 768px) {

}

/* Tablet ----------------------------------------------------- */
@media(max-width: 768px) {
	
}

/* Mobile ----------------------------------------------------- */
@media(max-width: 480px) {
	#swapInfoList .li { font-size: 0.75rem; }
}















