@charset "UTF-8";

#appBody { position: relative; margin: 0 auto; padding: 28px; max-width: 600px; width: 100%; background: var(--dark-0); box-shadow: var(--bg-box-shadow); border-radius: 60px; color: var(--white); transition: all 0.25s; }
#appBody * { transition: all 0.25s; }

#appBody .app_contents { padding: 30px; background: var(--dark-2); border-radius: 40px; }



/* laptop ----------------------------------------------------- */
@media (min-width: 1024px) {
	
}

/* Tablet ----------------------------------------------------- */
@media(max-width: 1023px) {
	#appBody  { padding: 24px; max-width: 540px; border-radius: 50px; }
  #appBody .app_contents { gap: 16px; padding: 24px; border-radius: 30px; }



}

/* Mobile ----------------------------------------------------- */
@media(max-width: 768px) {
  #appBody  { padding: 16px; max-width: 460px; border-radius: 40px; }
  #appBody .app_contents { gap: 12px; padding: 16px; border-radius: 30px; }

}