.modal {  }
.modal .modal_container { position: relative; width: 100%; }
.modal .modal_container .modal_head { display: flex; justify-content: space-between; align-items: center; padding: 14px 20px; background: rgba(118, 121, 131, 0.5); font-family: 'CookieRun'; font-weight: 700; }
.modal .modal_container .modal_head .ic_close { cursor: pointer; }
.modal .modal_container .modal_body { display: flex; flex-direction: column; gap: 16px; padding: 20px; }
.modal .modal_container .modal_body .m_card { position: relative; padding: 1rem; background: var(--dark-4);  border-radius: 0.5rem; }
.modal .modal_container .modal_body .m_cont { }

.modal .bg_box { background-color: var(--dark-4); }
.modal .bg_box .common_bases { display: grid; grid-gap: 8px; }
.modal .bg_box .common_bases .head { display: flex; }
.modal .bg_box .common_bases .body { display: flex; gap: 4px; }

.modal .input_box { padding: 6px 16px; width: 100%; height: 38px; background: var(--dark-1);  border-radius: 8px; font-family: 'CookieRun'; font-weight: 700; }
.modal .input_box input { width: 100%; background-color: transparent; border: none; color: var(--white); font-family: 'CookieRun'; font-size: 14px; font-weight: 700; }

.modal .transactions_list { display: flex; flex-direction: column; gap: 8px; }
.modal .transactions_list a { display: flex; justify-content: space-between; align-items: center; color: var(--aqua); font-size: 13px; }

.modal .modal_error { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px; }
.modal .modal_error .modal_error_contents { padding: 20px; text-align: center; }

/* proceeding */
.modal_proceeding { width: 100%; border: 4px solid var(--yellow); border-radius: inherit; }
.modal_proceeding .modal_waiting { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 16px; padding: 60px 40px; width: 100%; }
.modal_proceeding .modal_waiting .img { width: 140px; }
.modal_proceeding .modal_waiting .img_cont { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; }
.modal_proceeding .modal_waiting .text_cont { width: 100%; }
.modal_proceeding .modal_waiting .swap_info { padding: 0 5% }
.modal_proceeding .modal_waiting .swap_info > li { display: flex; justify-content: space-between; align-items: center; margin: 10px 0; }
.modal_proceeding .modal_waiting .swap_info > li .info_title { min-width: 80px; color: var(--gray); font-size: 14px; font-weight: 300; text-align: left; }
.modal_proceeding .modal_waiting .swap_info > li .info_contents { color: var(--white); font-size: 15px;  text-align: right; }
.modal_proceeding .modal_waiting .swap_info > li .info_contents .num { font-family: 'CookieRun'; font-weight: 700; }
.modal_proceeding .modal_waiting .swap_info > li .info_contents .symbol { margin-left: 4px; color: var(--gray); font-weight: 500; }
.modal_proceeding .modal_transaction { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 30px; padding: 40px; width: 100%; }
.modal_proceeding .modal_transaction .img_cont { display: flex; flex-direction: column; align-items: center; gap: 20px; width: 100%; }
.modal_proceeding .modal_transaction .contents { display: flex; flex-direction: column; align-items: center; gap: 20px; width: 100%; }


/* laptop ----------------------------------------------------- */
@media (min-width: 1024px) {

}

/* Tablet ----------------------------------------------------- */
@media(max-width: 1023px) {

}

/* Mobile ----------------------------------------------------- */
@media(max-width: 768px) {
    .modal .modal_container .modal_head { padding: 14px 16px; }
    .modal .modal_container .modal_body { padding: 16px; }
    
    .modal_proceeding .modal_waiting .img { width: 110px; }
    .modal_proceeding .modal_waiting { gap: 10px; }
}