@charset "UTF-8";

.modal {
    z-index: 100;
    background-color: transparent;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: pink
  }