@charset "UTF-8";

#intro { overflow: hidden; display: table; width: 100%; height: 100%; }
#intro .intro_in { display: table-cell; padding: 0 10%; vertical-align: middle; }
#intro .intro_in .intro_title { color: var(--white); font-size: 7vw; font-weight: 900; text-shadow: 0 0.1875rem 0.5rem rgba(58,91,126,.2); text-align: center; line-height: 1.2; }
#intro .intro_in .intro_link { display: flex; justify-content: center; align-items: center;gap: 20px; margin-top: 2rem; }
#intro .intro_in .intro_link a { width: 100%; max-width: 300px; }
#intro .intro_in .intro_link .button { width: 100%; max-width: 100%; }

@media(max-width: 980px) {
	#intro .intro_in { padding: 0 1rem; text-align: center; }
	#intro .intro_in .intro_title { font-size: 8vw; }
	#intro .intro_in .intro_link { flex-direction: column; margin-top: 1.5rem; }
}

@media(max-width: 480px) {
	#intro .intro_in .intro_title { font-size: 12vw; }
}













